.row-container{
  display: flex;
  flex-direction: row;
  width: 1440px;
  overflow-x: hidden;
  &+&{
    margin-top: 90px;
    .info{
      margin-left: 169px;
      margin-top: 115px;
    }
  }
}

.collum-container{
  display: flex;
  flex-direction: column;
}