.participate{
  background: url("../images/roof.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 1004px;
  float: left;
  margin-top: 88px;
  &__title{
    margin: 92px 140px 39px 170px;
  }
  &__form{
    margin-left: 170px;
    max-width: 540px;
    width: calc(100% - 28px);
    & > label{
      width: 140px;
      height: 26px;
      font-family: Helvetica Light;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 6px;
    }
    & > input, & > input::placeholder{
      font-family: Helvetica Medium;
      font-size: 20px;
      line-height: 26px;
      color: black;
      text-transform: uppercase;
    }
    & > input{
      background: #00000000;
      border: 0;
      margin-bottom: 18px;
    }
    &__separator{
      background: black;
      width: 100%;
      height: 3px;
      &+label{
        margin-top: 30px;
      }
    }
    & > button{
      width: 100%;
      height: 60px;
      margin-top: 62px;
      font-size: 20px;
      line-height: 26px;
      .btn-red;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
  &__rectangle{
    position: absolute;
    width: 465px;
    height: 558px;
    right: 85px;
    top: 4582px;

    border: 6px solid @red;
    box-sizing: border-box;
    &+img{
      position: absolute;
      width: 521px;
      height: 573px;
      right: 109px;
      top: 4608px;
    }
  }
}

@media (max-width: 1414px) {
  .participate{
    &__rectangle{
      display: none;
      &+img{
        display: none;
      }
    }
  }
}

@media (max-width: @breakpoint-tablet) {
  .participate{
    &__title{
      margin: 30px 0 13px 28px;
    }

    &__form{
      margin-left: 28px;

      & > input, & > input::placeholder{
        font-size: 16px;
      }

      &__separator{
        &+label{
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: @breakpoint-mobile){
  .participate{
    margin-top: 40px;
    height: 640px;

    &__form{
      & > button{
        margin-top: 40px;
      }

      & > [for="e-mail"]{
        font-size: 0;
      }

      & > [name="e-mail"]::placeholder{
        content: "E-mail";
      }
    }
  }
}