@speakerCount: 4;
@speaker: "../images/speaker";
@nameSpeaker: ~"img";

.speakers{
  margin-left: 170px;
  width: calc(100% - 170px);

  &__slider{
    margin-top: 66px;
    width: 100%;

    &__element{

      &+&{
        margin-left: 20px;
      }

      .generateBackground(@speaker, @speakerCount, @nameSpeaker);

      &__name{
        font-family: Helvetica Black;
        font-size: 24px;
        line-height: 34px;
        text-transform: uppercase;
        margin-top: 36px;
      }

      &__text{
        .font-small;
        margin-top: 2px;
      }

    }
  }

  &__rectangle{
    position: absolute;
    width: 253px;
    height: 422px;
    left: 149px;
    top: 2116px;
    background: @red;
    z-index: -1;
  }
}

@media (max-width: 1414px) {
  .speakers{
    &__rectangle{
      top: 2460px;
    }
  }
}

@media (max-width: @breakpoint-tablet) {
  .speakers{
    margin-left: 16px;
    width: calc(100% - 16px);

    &__rectangle{
      top: 2262px;
      width: 174px;
      height: 271px;
      left: 0;
    }

    &__slider{
      &__element{
        .tabletSize(@speakerCount, @nameSpeaker);

        &__name{
          width: 230px;
          line-height: 24px;
          margin-left: 15px;
        }

        &__text{
          width: 230px;
          margin-left: 15px;
        }

        &+&{
          margin-left: 10px;
        }

      }
    }
  }
}

@media (max-width: @breakpoint-mobile) {
  .speakers{
    &__rectangle{
      top: 1973px;
    }

    &__slider{
      margin-top: 36px;

      & > .slick-current{

      }
    }
  }

}

